
@{
    ViewBag.Title = "StudentList";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/AngularjsCode/Student.js"></script>
<h2>StudentList</h2>
<div ng-app="myApp">
    <div ng-controller="myCtrl" ng-init="GetAllData()" ng-cloak>
        <table class="table table-hover">
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Father Name</th>
                <th>Date of Birth</th>
                <th>City</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Pincode</th>
                <th>Course</th>
                <th>Addmission Date</th>
            </tr>
            <tr ng-repeat="std in Student">
                <td>{{std.StudentId}}</td>
                <td>{{std.FirstName}}</td>
                <td>{{std.LastName}}</td>
                <td>{{std.FatherName}}</td>
                <td>{{std.DateOfBirth}}</td>
                <td>{{std.City}}</td>
                <td>{{std.Address}}</td>
                <td>{{std.Gender}}</td>
                <td>{{std.Pincode}}</td>
                <td>{{std.Course}}</td>
                <td>{{std.AddmissionDate}}</td>
                <td>
                    <input type="button" class="btn btn-primary" value="Update" ng-click="Update(std)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="Delete(std)" />
                </td>
            </tr>
        </table>
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <h2>
                        <span id="spn">Add New Student</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">First Name:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="First Name" ng-model="FirstName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Last Name:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Last Name" ng-model="LastName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Father Name:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Father Name" ng-model="FatherName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Date OF Birth:</label>
                            <div class="col-md-8">
                                <input type="Date" class="form-control" placeholder="Date of Birth" ng-model="DateOfBirth">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">City:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="City" ng-model="City">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Address:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Address" ng-model="Address">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Gender:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Gender" ng-model="Gender">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">PinCode:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Pincode" ng-model="Pincode">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Course:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Course" ng-model="Course">
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <md-content layout="column" layout-gt-sm="row"
                                        layout-padding ng-cloak>
                                <label class="col-md-4 control-label">AddmissionDate:</label>
                                <div class="col-md-8">

                                    <md-calendar ng-model="AddmissionDate"></md-calendar>
                                </div>
                            </md-content>
                        </div>
                    </div>*@
                    <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Addmission Date</label>
                                <div class="col-md-8">
                                    <input type="Date" class="form-control" placeholder="Addmission Date" ng-model="AddmissionDate">
                                </div>
                            </div>
                        </div>

                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <input type="button" id="btnSave" class="form-control btn-space btn-primary" value="Submit" ng-click="InsertData()" />
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

