body {
    .btnColor{
        color: red;
    }       
}
.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}
.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px;
}